.block-feature{
  height: 70vh;
  width: 100%;
  display: table;
  .block-feature-content{
    padding: $spacing-unit * 4;
    @media (max-width: $tablet) {
      padding: $spacing-unit * 2 0;
    }
    p{
      font-family: $header-font-family;
      font-size: 4rem;
      text-align: center;
    }
    hr{
      max-width: 3em;
      height: .2em;
      background: $color-brand-alt;
    }
    .block-feature-heading{
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: .9rem;
      font-family: $alt-font-family;
      color: $color-grey;
      margin-bottom: $spacing-unit * 1;
    }

  }
}